* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box
}

// 가로 스크롤 삭제
body {
  overflow-y: hidden;
}

$hundredpx : 100px;
$margintopypixel: 40px;
$hunredwidthvw: 100vw;
$hundredpercent: 100%;
$sevenpercent: 70%;
$radius : 20px;
// Colors
$black: #000;
$white: #fff;
$gray: #B5B4B4;
$lightgray : #CDCDCD;

$youtubeColor : #FC231B;

// 가운데 정렬 
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  @include center();
  width: $hunredwidthvw;

  @media (max-width: 800px) {
    width: $hunredwidthvw;

  }



}

.container {
  width: 80vw;
  height: 1080px;

  @media (max-width: 650px) {
    width: $hunredwidthvw;
  }

  @media (max-width: 800px) {
    width: $hunredwidthvw;
  }
}

// 헤더 마크업
header {
  position: fixed;
  width: $hundredpercent;
  height: 8vh;
  display: flex;
  justify-content: right;
  z-index: 2;
  background-color: $white;

  &>ul {
    width: 30%;
    height: inherit;
    @include center();
    position: absolute;
    right: $hundredpx*2;
    top: -10px;

    @media (max-width: 800px) {
      width: 60%;
      right: 0;
    }

    &>li {
      @include center();
      color: $lightgray;
      width: calc($hundredpercent/4);
      height: 88%;
      border-right: 1px solid $lightgray;
      font-size: 1rem;
      cursor: pointer;
      background-color: $white;

      @media (max-width: 650px) {
        width: calc(60vw/4);
        height: 50%;
        font-size: 0.5rem;

      }

    }
  }
}

// 로고이미지 정렬
.logo-img {
  width: $hundredpercent;
  height: 200px;
  z-index: 1;
  margin-top: $margintopypixel;
  @include center();

  @media (max-width: 800px) {
    width: 100vw;
    top: 100px;
    z-index: 1;

  }

  &>img {
    width: 30%;
    height: 60%;
    position: relative;
    z-index: 1;

    @media (max-width: 650px) {
      width: 80%;
      position: relative;
      z-index: 1
    }

    @media (max-width: 800px) {
      width: 70%;
    }
  }
}

//햄버거 바 
.hamberger-bar {
  width: 60%;
  height: inherit;
  position: absolute;
  left: 0;

  &>div {
    width: 60%;
    visibility: hidden;
    position: relative;
    left: -20px;

    @media (max-width:680px) {
      visibility: visible;
      cursor: pointer;
      width: 140px;
      height: $hundredpercent;
    }

    &>ul {
      width: $hundredpercent;
      height: $hundredpercent;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      transform: translate(25%, 25%);


      &>li {
        width: 70px;
        height: 10px;
        border-radius: $radius;
        background-color: #333;
        margin-bottom: 5px;
      }
    }
  }
}


.hamberger-menu {
  display: none;

  @media (max-width:650px) {
    overflow-y: scroll;
    width: $margintopypixel*10;
    height: 200vh;
    border: 1px solid $gray;
    background-color: $white;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 80px;

    &>div {
      width: $hundredpercent;
      height: 230vh;
      display: flex;
      flex-flow: column;

      &>ul {
        width: $hundredpercent;
        height: 300px;

        &:nth-child(3) {
          height: 50vh;
        }

        &:nth-child(3) {
          height: 50vh;
        }
      }
    }


  }
}

.input {
  width: $hundredpercent;
  height: 10%;
  margin-top: $margintopypixel;
  @include center();

  &>div {
    width: 60%;
    height: calc($hundredpercent/2);
    border-radius: $radius;
    border: 1px dotted $gray;
    display: flex;

    @media (max-width:800px) {
      width: calc($hundredpercent/1.25)
    }

    &>input {
      font-size: 1.5rem;
      width: 85%;
      margin-left: 5%;
      border: none;

      &:focus {
        outline: none;
      }
    }

    @media (max-width : 650px) {
      position: relative;
      top: -50px;
    }

    &>img {
      object-fit: contain;
      width: 10%;
      height: 80%;
      padding-top: 10px;
      cursor: pointer;
    }
  }
}

.ballon {
  display: none;
  position: absolute;
  width: 48%;
  z-index: 1;
  height: 300px;
  left: 26%;
  top: 40%;
  border: none;
  border-right: 1px dotted $gray;
  border-left: 1px dotted$gray;
  border-bottom: 1px solid $gray;
  background-color: $white;
  color: white;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;

  @media (max-width:650px) {
    left: 50px;
    width: calc($hundredpercent/1.25);
  }
}


.selec-menu {
  width: $hundredpercent;
  height: 40%;
  display: flex;
  flex-flow: column;

  &>ul {
    width: $hundredpercent;
    height: calc($hundredpercent/2);
    @include center();
    list-style-type: none;

    @media (max-width:650px) {
      position: relative;
      bottom: 80px;
    }

    &>li {
      width: ($sevenpercent/4);
      height: $hundredpercent;
      @include center();

      @media (max-width:800px) {
        width: $hundredpercent;
      }

      &>img {
        height: $sevenpercent;
        object-fit: contain;
        cursor: pointer;

        @media (max-width:800px) {
          width: 80%;
        }
      }

    }
  }

  ;
}

//on / off 작동
.off {
  display: none;
}

.on {
  display: block;
}

//로고 이미지, 로그인 / 회원가입

.logoimg,
.personal-information {
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media (max-width:1920px) {
    display: none;
  }

  @media (max-width:650px) {
    width: $hundredpercent;
    height: calc($hundredpercent/3);
    display: flex;
    align-items: center;

    &>img {
      transform: translate(0%, 20%);
      width: calc($hundredpercent/2);
    }

    &>button {
      width: 48%;
      height: calc($hundredpercent/1.5);
      border-radius: $radius;
      border: 1px solid $gray;
      background-color: #fff;

      background: {
        image: linear-gradient(45deg, $black, 50%, transparent 50%);
        position: 100%;
        size: 400%;
      }

      transition: background 300ms ease-in-out;

      &:hover {
        background-position: 0;
        color: #FFF;
      }
    }

  }


}

.sns-community {

  @media (max-width:1920px) {
    display: none;
  }

  @media (max-width:650px) {
    width: $hundredpercent;
    height: calc($hundredpercent/3);
    display: flex;
    align-items: center;
    justify-content: space-around;


    &>button {
      width: 48%;
      height: calc($hundredpercent/1.5);
      border-radius: $radius;
      border: 1px solid $gray;
      cursor: pointer;
      $instgramColor: (#4C59CE, #8F2FBB, #962ABA, #CB2C7C, #E25246);
      $index: 0;
      color: $white;

      // 인스타그램
      &:nth-child(1) {
        background-image: linear-gradient(90deg, $instgramColor(0) 0%, #CB2C7C 19.56%, #962ABA 42.31%, #8F2FBB 65.52%, #4C59CE 87.36%);


        background: {
          image: linear-gradient(45deg, background-image, 50%, transparent 50%);
          position: 100%;
          size: 400%;
        }


        &:hover {
          transition: background 300ms ease-out;
          background-position: 0;
          color: #FFF;
        }
      }

      // 유튜브
      &:nth-child(2) {
        background-image: linear-gradient(90deg, $youtubeColor -5.1%, rgba(235, 23, 23, 1.849594) 44.51%, rgba(235, 70, 70, 0.5625) 100.6%, rgba(252, 0, 0, 0) 100.61%);

        background: {
          image: linear-gradient(45deg, background-image, 50%, transparent 50%);
          position: 100%;
          size: 400%;
        }


        &:hover {
          transition: background 300ms ease-out;
          background-position: 0;
          color: #FFF;
        }
      }
    }
  }
}

@mixin sns {

  &:hover {
    transition: background 300ms ease-out;
    background-position: 0;
    color: #FFF;
  }
}


.mypage {
  display: none;

  @media (max-width:650px) {
    display: block;
    width: $hundredpercent;
    height: calc($hundredpercent/2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &>div {
      width: calc($hundredpercent/5);
      height: $hundredpercent;
      border-radius: $radius;

      &:hover {
        background-color: $black;
        color: $white;
      }

      &>div:nth-child(1) {
        height: 60%;
        @include center();
      }

      &>div:nth-child(2) {
        height: 40%;
        @include center();
        font-size: 0.8rem;
        font-weight: 1800;

      }

    }
  }
}

.size {
  width: $hundredpercent;
  justify-content: space-around;
}


//카테고리 커뮤니티

.category {
  width: $hundredpercent;
  height: $hundredpercent;

  &>div:nth-child(1) {
    width: $hundredpercent;
    height: calc($hundredpercent/8);
    display: flex;

    &>button {
      width: calc($hundredpercent/2);
      height: $hundredpercent;
      border: none;
      background-color:rgb(255, 244, 244);
      &:focus{
        border-top: 1px solid $black;
        border-left: 1px solid $black;
        border-right: 1px solid $black;
      }
   
    }
  }
}


