* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: hidden;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
@media (max-width: 800px) {
  #root {
    width: 100vw;
  }
}

.container {
  width: 80vw;
  height: 1080px;
}
@media (max-width: 650px) {
  .container {
    width: 100vw;
  }
}
@media (max-width: 800px) {
  .container {
    width: 100vw;
  }
}

header {
  position: fixed;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: right;
  z-index: 2;
  background-color: #fff;
}
header > ul {
  width: 30%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 200px;
  top: -10px;
}
@media (max-width: 800px) {
  header > ul {
    width: 60%;
    right: 0;
  }
}
header > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #CDCDCD;
  width: 25%;
  height: 88%;
  border-right: 1px solid #CDCDCD;
  font-size: 1rem;
  cursor: pointer;
  background-color: #fff;
}
@media (max-width: 650px) {
  header > ul > li {
    width: 15vw;
    height: 50%;
    font-size: 0.5rem;
  }
}

.logo-img {
  width: 100%;
  height: 200px;
  z-index: 1;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 800px) {
  .logo-img {
    width: 100vw;
    top: 100px;
    z-index: 1;
  }
}
.logo-img > img {
  width: 30%;
  height: 60%;
  position: relative;
  z-index: 1;
}
@media (max-width: 650px) {
  .logo-img > img {
    width: 80%;
    position: relative;
    z-index: 1;
  }
}
@media (max-width: 800px) {
  .logo-img > img {
    width: 70%;
  }
}

.hamberger-bar {
  width: 60%;
  height: inherit;
  position: absolute;
  left: 0;
}
.hamberger-bar > div {
  width: 60%;
  visibility: hidden;
  position: relative;
  left: -20px;
}
@media (max-width: 680px) {
  .hamberger-bar > div {
    visibility: visible;
    cursor: pointer;
    width: 140px;
    height: 100%;
  }
}
.hamberger-bar > div > ul {
  width: 100%;
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  transform: translate(25%, 25%);
}
.hamberger-bar > div > ul > li {
  width: 70px;
  height: 10px;
  border-radius: 20px;
  background-color: #333;
  margin-bottom: 5px;
}

.hamberger-menu {
  display: none;
}
@media (max-width: 650px) {
  .hamberger-menu {
    overflow-y: scroll;
    width: 400px;
    height: 200vh;
    border: 1px solid #B5B4B4;
    background-color: #fff;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 80px;
  }
  .hamberger-menu > div {
    width: 100%;
    height: 230vh;
    display: flex;
    flex-flow: column;
  }
  .hamberger-menu > div > ul {
    width: 100%;
    height: 300px;
  }
  .hamberger-menu > div > ul:nth-child(3) {
    height: 50vh;
  }
  .hamberger-menu > div > ul:nth-child(3) {
    height: 50vh;
  }
}

.input {
  width: 100%;
  height: 10%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input > div {
  width: 60%;
  height: 50%;
  border-radius: 20px;
  border: 1px dotted #B5B4B4;
  display: flex;
}
@media (max-width: 800px) {
  .input > div {
    width: 80%;
  }
}
.input > div > input {
  font-size: 1.5rem;
  width: 85%;
  margin-left: 5%;
  border: none;
}
.input > div > input:focus {
  outline: none;
}
@media (max-width: 650px) {
  .input > div {
    position: relative;
    top: -50px;
  }
}
.input > div > img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 10%;
  height: 80%;
  padding-top: 10px;
  cursor: pointer;
}

.ballon {
  display: none;
  position: absolute;
  width: 48%;
  z-index: 1;
  height: 300px;
  left: 26%;
  top: 40%;
  border: none;
  border-right: 1px dotted #B5B4B4;
  border-left: 1px dotted #B5B4B4;
  border-bottom: 1px solid #B5B4B4;
  background-color: #fff;
  color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
@media (max-width: 650px) {
  .ballon {
    left: 50px;
    width: 80%;
  }
}

.selec-menu {
  width: 100%;
  height: 40%;
  display: flex;
  flex-flow: column;
}
.selec-menu > ul {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
@media (max-width: 650px) {
  .selec-menu > ul {
    position: relative;
    bottom: 80px;
  }
}
.selec-menu > ul > li {
  width: 17.5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 800px) {
  .selec-menu > ul > li {
    width: 100%;
  }
}
.selec-menu > ul > li > img {
  height: 70%;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}
@media (max-width: 800px) {
  .selec-menu > ul > li > img {
    width: 80%;
  }
}

.off {
  display: none;
}

.on {
  display: block;
}

.logoimg,
.personal-information {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 1920px) {
  .logoimg,
.personal-information {
    display: none;
  }
}
@media (max-width: 650px) {
  .logoimg,
.personal-information {
    width: 100%;
    height: 33.3333333333%;
    display: flex;
    align-items: center;
  }
  .logoimg > img,
.personal-information > img {
    transform: translate(0%, 20%);
    width: 50%;
  }
  .logoimg > button,
.personal-information > button {
    width: 48%;
    height: 66.6666666667%;
    border-radius: 20px;
    border: 1px solid #B5B4B4;
    background-color: #fff;
    background-image: linear-gradient(45deg, #000, 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    transition: background 300ms ease-in-out;
  }
  .logoimg > button:hover,
.personal-information > button:hover {
    background-position: 0;
    color: #FFF;
  }
}

@media (max-width: 1920px) {
  .sns-community {
    display: none;
  }
}
@media (max-width: 650px) {
  .sns-community {
    width: 100%;
    height: 33.3333333333%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .sns-community > button {
    width: 48%;
    height: 66.6666666667%;
    border-radius: 20px;
    border: 1px solid #B5B4B4;
    cursor: pointer;
    color: #fff;
  }
  .sns-community > button:nth-child(1) {
    background-image: linear-gradient(90deg, #4C59CE, #8F2FBB, #962ABA, #CB2C7C, #E25246 0 0%, #CB2C7C 19.56%, #962ABA 42.31%, #8F2FBB 65.52%, #4C59CE 87.36%);
    background-image: linear-gradient(45deg, background-image, 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
  }
  .sns-community > button:nth-child(1):hover {
    transition: background 300ms ease-out;
    background-position: 0;
    color: #FFF;
  }
  .sns-community > button:nth-child(2) {
    background-image: linear-gradient(90deg, #FC231B -5.1%, rgb(235, 23, 23) 44.51%, rgba(235, 70, 70, 0.5625) 100.6%, rgba(252, 0, 0, 0) 100.61%);
    background-image: linear-gradient(45deg, background-image, 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
  }
  .sns-community > button:nth-child(2):hover {
    transition: background 300ms ease-out;
    background-position: 0;
    color: #FFF;
  }
}

.mypage {
  display: none;
}
@media (max-width: 650px) {
  .mypage {
    display: block;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .mypage > div {
    width: 20%;
    height: 100%;
    border-radius: 20px;
  }
  .mypage > div:hover {
    background-color: #000;
    color: #fff;
  }
  .mypage > div > div:nth-child(1) {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mypage > div > div:nth-child(2) {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: 1800;
  }
}

.size {
  width: 100%;
  justify-content: space-around;
}

.category {
  width: 100%;
  height: 100%;
}
.category > div:nth-child(1) {
  width: 100%;
  height: 12.5%;
  display: flex;
}
.category > div:nth-child(1) > button {
  width: 50%;
  height: 100%;
  border: none;
  background-color: rgb(255, 244, 244);
}
.category > div:nth-child(1) > button:focus {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}/*# sourceMappingURL=OLIVEYOUNG.css.map */